@import "tailwindcss";

body {
  margin: 0;
  background-color: #000;
  color: white;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar for sidebar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
